<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>記帳</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <style type="text/css">
        body {
            background-color: #03045E;
            font-family: 'Arial', sans-serif;
        }
        .b1 {
            background-color: #023E8A;
        }
        .btn {
            background-color: #0096C7;
            color: white;
            border-color: #ccc;
        }
        label {
            color:white;
            font-weight: 700;
        }
        .error{
            color:red;
            margin-top: 5px;
        }
        .error-border {
            border: 2px solid red;
        }
        .navbar-brand {
            display: inline-flex;
            align-items: center;
            background-color: rgba(0, 0, 0, .25);
            box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
        }
        form{
            max-width: 400px;
            width:100%;
        }
        #date{
            width: 50%;
        }
        select,input{
            width: 80%;
        }
        h1{
            color:white;
            font-weight: bold;
        }
    </style>
</head>

<body>
    <header class="navbar navbar-dark bg-primary bg-gradient flex-md-nowrap p-0 shadow align-items-stretch text-center">
        <a class="navbar-brand me-0 px-3 fs-5" href="{{ url_for('logout') }}">登出</a>
        <span class="navbar-text fs-3 flex-fill">傑哥記帳軟體</span>
    </header>
    <main>
        <div class="container-fluid">
            <div class="row pt-3">
                <div class="col"></div>
                <div class="col-md-9 b1 text-center">
                    <div class="border mt-2">
                        <h1 class="mt-3">新增收支</h1>
                        <div class="d-flex justify-content-center pt-3 flex-grow-0">
                            <form action="{{ url_for('add_record') }}" method="post">
                                <div class="d-flex justify-content-center fs-3 mb-1">
                                    <label for="date" >日期：</label>
                                </div>
                                <div class="d-flex justify-content-center flex-fill">
                                    <input type="date" id="date" name="date" class="rounded-pill p-2 text-center" required>
                                </div>
                                <div class="d-flex justify-content-center fs-3">
                                    <label for="transactionType" >收支類型：</label>
                                </div>
                                <div class="d-flex justify-content-center flex-fill">
                                    <select id="types" name="types" class="rounded p-2">
                                        <option value="income">收入</option>
                                        <option value="expense">支出</option>
                                    </select>
                                </div>
                                <div class="d-flex justify-content-center fs-3">
                                    <label for="amount">金額：</label>
                                </div>
                                <div class="d-flex justify-content-center">
                                    <input type="number" id="amount" name="amount" class="rounded-pill p-2 text-center" required>
                                </div>
                                <div id="amountError" class="error d-flex justify-content-center"></div>
                                <div class="d-flex justify-content-center fs-3">
                                    <label for="category">分類：</label>
                                </div>
                                <div class="d-flex justify-content-center lh-lg flex-fill">
                                    <select id="categories" name="categories" class="rounded p-2">
                                        <option value="category1">Category 1</option>
                                        <option value="category2">Category 2</option>
                                    </select>
                                </div>
                                <div id="catagoryError" class="error d-flex justify-content-center"></div>
                                <div class="d-flex justify-content-center fs-3">
                                    <label for="notes">事由：</label>
                                </div>
                                <div class="d-flex justify-content-center">
                                    <input type="text" id="notes" name="notes" class="rounded-pill text-center p-2">
                                </div>
                                <div class="d-flex justify-content-center mt-3 mb-3">
                                    <input type="submit" value="新增" class="btn btn-default btn-add">
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center mt-3">
                        <a href="{{ url_for('showdata') }}" class="btn btn-default px-4 px-sm-5" role="button">顯示紀錄</a>
                    </div>
                    <div class="d-flex justify-content-center mt-3 mb-4">
                        <a href="{{ url_for('chart') }}" class="btn btn-default me-5 px-4 px-sm-5" role="button">顯示圖表</a>
                        <a href="{{ url_for('edit') }}" class="btn btn-default px-4 px-sm-5" role="button">編輯分類</a>
                    </div>
                </div>
                <div class="col"></div>
            </div>
        </div>
    </main>
        <script>
            var today = new Date().toISOString().split('T')[0];
            document.getElementById('date').value = today;
            function checkAmount() {
                var enteredAmount = parseFloat(document.getElementById('amount').value);
                var amountInput = document.getElementById('amount');
                var amountErrorElement = document.getElementById('amountError');
        
                if (isNaN(enteredAmount) || enteredAmount < 0) {
                    // Display an error message if the amount is negative or not a valid number
                    amountErrorElement.innerHTML = '請輸入有效的非負數金額!';
                    amountInput.classList.add('error-border');
                    amountInput.value = '';
                    return false;
                }
        
                // Clear the error message if the amount is valid
                amountErrorElement.innerHTML = '';
                amountInput.classList.remove('error-border'); 
                return true; 
            }
        
            document.querySelector('form').addEventListener('submit', function (event) {
                if (!checkAmount()) {
                    event.preventDefault(); // Prevent the form from submitting if there are errors
                }
            });
        </script>
    </div>
</body>
</html>
