<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>註冊</title>
</head>
<body>
    <h1>註冊</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <form method="POST">
        {{ form.csrf_token }}
        {{ form.username.label }} {{ form.username }}<br><br>
        {{ form.password.label }} {{ form.password }}<br><br>
        {{ form.submit }}
    </form>
    <p>已經有帳戶？<a href="{{ url_for('login') }}">登入</a></p>
</body>
</html>
